
  body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('https://www.spacex.com/static/images/backgrounds/starfield.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.globe-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#globe {
  width: 50%;
  height: auto;
}

.controls {
  margin-top: 20px;
}

.vpn-toggle-btn {
  background: linear-gradient(45deg, #00c896, #1c1f2e, #00c896);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
  margin-top: 20px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.vpn-toggle-btn.on {
  background: #ff4b5c;
}

.server-select {
  margin-top: 10px;
  background: #1c1f2e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
}